
       <nav>
        <div class="container-fluid">
           <div class="d-block d-md-flex justify-content-between align-items-center px-5 py-4">
               <div class="text-center">
                   <img src="assets/logo-03.png" alt="" class="logo-img" >
               </div>
               <div class="center-btn">
                   <button class="btn btn-primary get-btn responsive-btn ">GET STARTED</button>
               </div>

           </div>

       </div>
   </nav>

   <header class="header">
       <div class="row gx-0 h-100">
           <div class="col-md-5 header-content  ">
             
               <p class="fw-600  text-light m-0 heading">Get your Phone Fixed at Your Doorstep in</p>
               <p class=" fw-600 just-heading">Just 90 Minutes</p>
               <div class="d-flex col-9 align-items-center mb-3">
                 <div>
                 
                    <i class="fas fa-solid fa-circle-check text-light pe-3 fs-26"></i>
                 </div>
                 <div> 
                    <p class="text-light m-0 fs-22">Complete door to door service by top quality engineers</p>
                 </div>
               </div>
               <div class="d-flex col-9 align-items-center mb-5">
                   <div>
                      <i class="fas fa-solid fa-circle-check text-light pe-3 fs-26"></i>
                   </div>
                   <div> 
                      <p class="text-light m-0 fs-22">100% Genuine & Authentic Parts. 6 Months Service Warranty</p>
                   </div>
                 </div>
               <button class="btn btn-primary get-btn mb-5 d-none d-md-block ">GET STARTED</button>
             
           </div>
           <div class="col-md-7">
               <div class="assets-wrapper">
                       <img src="assets/mobile-header-desktop.png" alt="" class="head-img">
               </div>
           </div>
       </div>

   </header>
  
   <carousel [dots]="true" [autoplay]="true" [cellWidth]='120'  class="d-flex justify-content-center" >
    <div class="carousel-cell" >
      <img src="assets/vivo.png" alt="" >
  </div>
  <div class="carousel-cell">
    <img src="assets/huawei.png" alt="" >
  </div>
  <div class="carousel-cell">
    <img src="assets/oppo.png" alt="">
  </div>
  <div class="carousel-cell">
    <img src="assets/samsung.png" alt="">
  </div>
  <div class="carousel-cell">
    <img src="assets/apple.png" alt="">
  </div>
  <div class="carousel-cell">
    <img src="assets/one-plus.png" alt="" >
  </div>
  <div class="carousel-cell">
    <img src="assets/xiaomi.png" alt="">
  </div>
  <div class="carousel-cell">
    <img src="assets/motorola.png" alt="">
  </div>
  <div class="carousel-cell">
    <img src="assets/samsung.png" alt="">
  </div>
  
   </carousel>


  <!-- <section class="section-1">
       <p class="brand-heading fw-600 mb-5">Brands We Take Care of</p>
       <div class="container">
       <div class="  owl-carousel" id="carousel-1">
             <div class=" d-flex justify-content-center">
                 <img src="assets/vivo.png" alt="" >
             </div>
             <div class="d-flex justify-content-center">
               <img src="assets/huawei.png" alt="" >
             </div>
             <div class="d-flex justify-content-center">
               <img src="assets/oppo.png" alt="">
             </div>
             <div class="d-flex justify-content-center">
               <img src="assets/samsung.png" alt="">
             </div>
             <div class="d-flex justify-content-center">
               <img src="assets/apple.png" alt="">
             </div>
             <div class="d-flex justify-content-center">
               <img src="assets/one-plus.png" alt="" >
             </div>
             <div class="d-flex justify-content-center">
               <img src="assets/xiaomi.png" alt="">
             </div>
             <div class="d-flex justify-content-center">
               <img src="assets/motorola.png" alt="">
             </div>
             <div class="d-flex justify-content-center">
               <img src="assets/samsung.png" alt="">
             </div>
       </div>
   </div>
  </section> -->

  <section class="section-2">
      <div class="container-fluid ">
            <p class="text-light fs-33 fw-600 mb-5">Repair, Not Replace With ERIP</p>
            <div class="row">
                <div class="col-md-4 px-4">
                  <img src="assets/icon_1c.png" alt="" width="100px" height="110px">
                  <p class="text-light fs-20 fw-600 py-5 m-0">BOOK A REPAIR</p>
                  <p class="text-light fs-19">Your repair is just a click away! Fill in your 
                   details and we will get in touch with you 
                   within 30 minutes and give you an exact
                   or approx quote for your service.</p>
                </div>
                <div class="col-md-4 px-4">
                   <img src="assets/icon_1b.png" alt="" width="100px" height="110px">
                   <p class="text-light fs-20 fw-600 py-5 m-0">DOORSTEP PICKUP / SERVICE</p>
                   <p class="text-light fs-19">Once you book a repair service our expert
                       technician either picks up for service or 
                       repairs the device at your doorstep 
                       depending on exact problem! He will also
                       answer all your queries & doubts about
                       the service.</p>

               </div>
               <div class="col-md-4 px-4">
                   <img src="assets/icon_1a.png" alt="" width="100px" height="110px">
                   <p class="text-light fs-20 fw-600 py-5 m-0">GET YOUR DEVICE SERVICED TO BE AS 
                       GOOD AS NEW!</p>
                   <p class="text-light fs-19">Once we have diagnosed the issue, we fix
                       your product, and deliver it to your doorstep.
                       Make the payment via cash, card, or
                       UPI transfer.</p>
               </div>
            </div>
            <div class="d-flex justify-content-center mt-5">
              <button class="btn btn-primary get-btn d-none d-md-block">GET STARTED</button>
           </div>  
      </div>
  </section>

  <section class="section-3">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-6">
                        <p class="fw-600  fix-heading">Fix Your Phone Part By Part</p>
                        <p class="fs-18 mb-5 pt-4">We’ve got a solution for all your iPhone problems. The most commonly
                           faced issues aren’t uncommon to us.</p>
                    <div class="col-md-7">
                        <div class="d-flex">
                           <i class="fas fa-solid fa-circle-check  pe-3 fs-23"></i>
                           <p class="fs-18"> Battery Problems</p> 
                        </div>
                        <div class="d-flex">
                           <i class="fas fa-solid fa-circle-check  pe-3 fs-23"></i>
                           <p class="fs-18"> Water Damage</p> 
                        </div>
                        <div class="d-flex">
                           <i class="fas fa-solid fa-circle-check  pe-3 fs-23"></i>
                           <p class="fs-18"> Software Issues</p> 
                        </div>
                        <div class="d-flex">
                           <i class="fas fa-solid fa-circle-check  pe-3 fs-23"></i>
                           <p class="fs-18"> Display Cracks</p> 
                        </div>
                        <div class="d-flex">
                           <i class="fas fa-solid fa-circle-check  pe-3 fs-23"></i>
                           <p class="fs-18"> And any other issues for your iPhone,
                               we are ready to help you</p> 
                        </div> 
                    </div>    
               </div>
               <div class="col-md-6 ">
                 <img src="assets/mobile-illustration.png" alt="" width="90%" height="90%">
               </div>
           </div>
       </div>
  </section>

  <section class="section-4">
      <p class="fw-600 fs-35 text-light mb-5 ps-2">Why ERIP?</p>
      <div class="row">
          <div class="col-md-6 px-1 px-md-5">
           <div class="d-block d-md-flex pb-5">
             <div class="pe-4 pb-3">
                <img src="assets/icon_2a.png" alt="" width="70px">
             </div>
             <div>
               <p class="text-light fs-20">EASY-TO-BOOK SERVICES</p>
               <p class="text-light fs-18">Our user interface is easy to navigate offering
                seamless experience to the customers. We offer
                premium services with free pick-up and delivery.
                Quality has always been our mid name!</p>
             </div>
           </div>
          <div class="d-block d-md-flex pb-5">
           <div class="pe-4 pb-3">
              <img src="assets/icon_2d.png" alt="" width="70px">
           </div>
           <div>
             <p class="text-light fs-20">YOUR TRUST IS OUR PRIORITY</p>
             <p class="text-light fs-18">We have bagged the position of the leading repair
               service provider in Bangalore. Our transparent
               service affirms that your device is in safe hands.</p>
           </div>
          </div>
          <div class="d-block d-md-flex pb-5">
           <div class="pe-4 pb-3">
              <img src="assets/icon_2e.png" alt="" width="70px">
           </div>
           <div>
             <p class="text-light fs-20">COVERED UNDER WARRANTY</p>
             <p class="text-light fs-18">All our services come with a promise of quality
               and security. with upto 18 months warranty.</p>
           </div>
          </div>
             
          </div>
          

          <div class="col-md-6 px-1 px-md-5">
           <div class="d-block d-md-flex pb-5">
             <div class="pe-4 pb-3">
                <img src="assets/icon_2a.png" alt="" width="70px">
             </div>
             <div>
               <p class="text-light fs-20">EXACT COST OF REPAIR</p>
               <p class="text-light fs-18">Get the best quote before you book. As an oath
                   of assurance, we tell you the exact price of the
                   service before you book to help you make an
                   informed decision</p>
             </div>
           </div>
          <div class="d-block d-md-flex pb-5">
           <div class="pe-4 pb-3">
              <img src="assets/icon_2c.png" alt="" width="70px">
           </div>
           <div>
             <p class="text-light fs-20">FAIR, COMPETITIVE PRICING </p>
             <p class="text-light fs-18">Get Quality, Reliability and Affordability under
               one roof. We are reputed for our high-quality
               services at economical rates.</p>
           </div>
          </div>
          <div class="d-block d-md-flex pb-5">
           <div class="pe-4 pb-3">
              <img src="assets/icon_2f.png" alt="" width="70px">
           </div>
           <div>
             <p class="text-light fs-20">ERIP-CERTIFIED SPARE PARTS</p>
             <p class="text-light fs-18">When it comes to maintaining the health of your
               product, there can never be a substitute for
               genuine parts. eRip-certified spare parts meet
               the criteria of the latest quality standards and
               maintain the stability of your products for the
               long run.</p>
           </div>
          </div>
             
          </div>
      </div>

  </section>

  <section class="section-5">
      
       <p class=" fw-600 coustomer-heading pb-5">A few words from our customers</p>
       <carousel [dots]="true" [autoplay]="false"  [cellsToShow]="4" [height]="500"  class="d-flex justify-content-center" >
         <div class="carousel-cell">
             <div class=" px-4 ">
                <div class="d-flex align-items-center pb-5">
                    <div class="sec-5-badge"></div>
                    <div>
                        <p class="m-0 fw-600 fs-22">Prakash Jolly</p>
                        <p class="m-0 fs-18">Samsung A20</p>
                    </div>
                </div>
                <p class="fw-600 fs-18">Lorem ipsum dolor sit amet, consec
                   tetuer adipiscing elit, sed diam non
                   ummy nibh euismod tincidunt ut la
                   oreet doloremagna aliquam erat vol
                   utpat. Ut wisi enim ad minim veniam,
                   quis nostrud exerci tation ullamc
                   orper suscipit lobortis nisl ut</p>
             </div>
            </div> 
            <div class="carousel-cell">
             <div class=" px-4">
               <div class="d-flex align-items-center pb-5">
                   <div class="sec-5-badge"></div>
                   <div>
                       <p class="m-0 fw-600 fs-22">Prakash Jolly</p>
                       <p class="m-0 fs-18">Samsung A20</p>
                   </div>
               </div>
               <p class="fw-600 fs-18">Lorem ipsum dolor sit amet, consec
                  tetuer adipiscing elit, sed diam non
                  ummy nibh euismod tincidunt ut la
                  oreet doloremagna aliquam erat vol
                  utpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamc
                  orper suscipit lobortis nisl ut</p>
            </div>
          </div> 
          <div class=" carousel-cell">
            <div class=" px-4">
               <div class="d-flex align-items-center pb-5">
                   <div class="sec-5-badge"></div>
                   <div>
                       <p class="m-0 fw-600 fs-22">Prakash Jolly</p>
                       <p class="m-0 fs-18">Samsung A20</p>
                   </div>
               </div>
               <p class="fw-600 fs-18">Lorem ipsum dolor sit amet, consec
                  tetuer adipiscing elit, sed diam non
                  ummy nibh euismod tincidunt ut la
                  oreet doloremagna aliquam erat vol
                  utpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamc
                  orper suscipit lobortis nisl ut</p>
            </div>
          </div>
          <div class="carousel-cell">
            <div class=" px-4 ">
               <div class="d-flex align-items-center pb-5">
                   <div class="sec-5-badge"></div>
                   <div>
                       <p class="m-0 fw-600 fs-22">Prakash Jolly</p>
                       <p class="m-0 fs-18">Samsung A20</p>
                   </div>
               </div>
               <p class="fw-600 fs-18">Lorem ipsum dolor sit amet, consec
                  tetuer adipiscing elit, sed diam non
                  ummy nibh euismod tincidunt ut la
                  oreet doloremagna aliquam erat vol
                  utpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamc
                  orper suscipit lobortis nisl ut</p>
            </div>
          </div>
          <div class="carousel-cell">
            <div class=" px-4 ">
               <div class="d-flex align-items-center pb-5">
                   <div class="sec-5-badge"></div>
                   <div>
                       <p class="m-0 fw-600 fs-22">Prakash Jolly</p>
                       <p class="m-0 fs-18">Samsung A20</p>
                   </div>
               </div>
               <p class="fw-600 fs-18">Lorem ipsum dolor sit amet, consec
                  tetuer adipiscing elit, sed diam non
                  ummy nibh euismod tincidunt ut la
                  oreet doloremagna aliquam erat vol
                  utpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamc
                  orper suscipit lobortis nisl ut</p>
            </div>
          </div>
          <div class="carousel-cell">
            <div class=" px-4 ">
               <div class="d-flex align-items-center pb-5">
                   <div class="sec-5-badge"></div>
                   <div>
                       <p class="m-0 fw-600 fs-22">Prakash Jolly</p>
                       <p class="m-0 fs-18">Samsung A20</p>
                   </div>
               </div>
               <p class="fw-600 fs-18">Lorem ipsum dolor sit amet, consec
                  tetuer adipiscing elit, sed diam non
                  ummy nibh euismod tincidunt ut la
                  oreet doloremagna aliquam erat vol
                  utpat. Ut wisi enim ad minim veniam,
                  quis nostrud exerci tation ullamc
                  orper suscipit lobortis nisl ut</p>
            </div>
          </div>
       </carousel>
        <div class="d-flex justify-content-center mt-5">
             <button class="btn btn-primary get-btn d-none d-md-block ">GET STARTED</button>
        </div>
       
  </section>

  <section class="section-6">
        <p class="text-center fw-600  pb-5 text-light sec-6-heading">Frequently Asked Questions</p>
   
        <div class="accordion" id="accordionPanelsStayOpenExample">
           <div class="accordion-item">
             <h2 class="accordion-header" id="panelsStayOpen-headingOne">
               <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                 <p class="fs-20"> How much is the inspection charge?</p> 
               </button>
             </h2>
             <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
               <div class="accordion-body">
                   <p class="text-light fs-18">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam 
                       erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                       consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
                       facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla</p>
               </div>
             </div>
           </div>
           <div class="accordion-item">
             <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  <p class="fs-20">What is the quality of spare parts used?</p> 
               </button>
             </h2>
             <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
               <div class="accordion-body">
                   <p class="text-light fs-18">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam 
                       erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                       consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
                       facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla</p>
               </div>
             </div>
           </div>
           <div class="accordion-item">
             <h2 class="accordion-header" id="panelsStayOpen-headingThree">
               <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  <p class="fs-20"> What measures are taken to ensure security?</p>
               </button>
             </h2>
             <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
               <div class="accordion-body">
                <p class="text-light fs-18">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam 
                   erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                   consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
                   facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla</p>
               </div>
             </div>
           </div>
           <div class="accordion-item">
               <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                  <p class="fs-20">I am not satisfied with the service. What do I do?</p> 
                 </button>
               </h2>
               <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                 <div class="accordion-body">
                   <p class="text-light fs-18">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam 
                       erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo 
                       consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla 
                       facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla</p>
                 </div>
               </div>
             </div>
         </div>

           

  </section>
 
  



 
  
